<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Pandao" />
		<title>tileTemplate Test in Node.js</title> 
	</head>
	<body> 
		<% include("header.tile") %>
		<h1><%=title%></h1>
		<ul> 
			<% for (i = 0, l = list.length; i < l; i ++) { %>
				<li><%=#list[i].index%>. 用户: <%=list[i].user%> 网站：<a href="<%=list[i].site%>"><%=list[i].site%></a></li>
			<% } %>
		</ul>
		<% if (list.length > 1) { %>
			<p>total: <%=list.length%></p>
		<% } %>

		<p>fadfssdfsadf</p>
		<% include("list.tile") %>
            
        <% var total=list.length; %>

		<!-- 这是注释 -->

		//这是注释
		<img src="<%=avatar%>" />
		<img src="<%=@avatar%>" />
		<img src="<%=@avatar2%>" />
		
		<% var a=10; while(a>0) {a--;} %>
		
		<% if(typeof console == "object") console.log("console is object.");  %>
		<% if(a==0) {} %>
		<% if(a==0) { %>
		a==0 
		<% } %>

		<p>fadfssdfsadf</p>
            
		<% include("footer.tile") %>
	</body> 
</html>